/* Add this CSS to your stylesheet */
.notification-scroll {
  max-height: 250px; /* Set a maximum height for the scrollable container */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}


/* notification.component.css */
.notification-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}



.notification-message-wrap {
  /* Ensure text wraps within the container */
  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  max-width: 200px; /* Adjust the maximum width as needed */
}

.dropdown-menu {
  position: absolute;
}

/* Default styling for larger screens */

/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
  .dropdown-menu {
    position: absolute;
    left: 50%; /* Position it in the center for mobile screens */
    transform: translateX(-50%); /* Center horizontally */
  }
}



