<!-- Notification dropdown -->
<ul
  class="dropdown-menu dropdown-menu-end"
  aria-labelledby="notificationDropdown"
>
  <!-- Scrollable container for notifications -->
  <div class="notification-scroll">
    <!-- Notification items -->
    <ng-container *ngFor="let notification of notifications; let last = last">
      <li>
        <a
          class="dropdown-item"
          [title]="notification.message"
          data-bs-toggle="tooltip"
          data-bs-placement="auto"
        >
          <div class="notification-item">
            <div class="notification-message-wrap">
              <i class="bi bi-check2-circle text-success"></i>
              <span class="notification-message">
                {{ notification.message }}
              </span>
            </div>
          </div>
        </a>
      </li>
      <!-- Add a divider if it's not the last item -->
      <li *ngIf="!last" role="separator" class="dropdown-divider"></li>
    </ng-container>
    <!-- End of Notification items -->
  </div>
</ul>
