<div class="container mt-5">
  <div class="row">
    <!-- Left Section -->
    <div class="col-md-3">
      <ul class="list-group">
        <!-- Call the populateUserDetails function when an option is clicked -->
        <li class="list-group-item" (click)="populateUserDetails()">
          <a>View Profile</a>
        </li>
        <li class="list-group-item" (click)="showChangePasswordForm()">
          <a>Change Password</a>
        </li>
      </ul>
    </div>

    <!-- Right Section -->
    <div class="col-md-9">
      <!-- User Details Card (Initially Hidden) -->
      <div class="card" *ngIf="userInfo" id="userDetailsCard">
        <div class="card-header">User Details</div>
        <div class="card-body">
          <form *ngIf="displayProfile">
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                name="firstName"
                [value]="userInfo.firstname"
                readonly
              />
            </div>
            <div class="mb-3">
              <label for="lastname" class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastname"
                name="lastname"
                [value]="userInfo.lastname"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="username" class="form-label">User Name</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                [value]="userInfo.username"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                [value]="userInfo.email"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="mobile" class="form-label">Mobile</label>
              <input
                type="text"
                class="form-control"
                id="mobile"
                name="mobile"
                [value]="userInfo.mobile"
                readonly
              />
            </div>
          </form>

          <form *ngIf="displayChangePassword">
  <div class="mb-3">
    <label for="currentPassword" class="form-label">Current Password</label>
    <input
      type="password"
      class="form-control"
      id="currentPassword"
      name="currentPassword"
      [(ngModel)]="currentPassword"
      required
    />
  </div>
  <div class="mb-3">
    <label for="newPassword" class="form-label">New Password</label>
    <input
      type="password"
      class="form-control"
      id="newPassword"
      name="newPassword"
      [(ngModel)]="newPassword"
      required
    />
  </div>
  <div class="mb-3">
    <label for="confirmPassword" class="form-label">Confirm New Password</label>
    <input
      type="password"
      class="form-control"
      id="confirmPassword"
      name="confirmPassword"
      [(ngModel)]="confirmPassword"
      required
    />
  </div>
  <button type="button" class="btn btn-primary" (click)="changePassword()">Change Password</button>
</form>


        </div>
      </div>
    </div>
  </div>
</div>
