<div class="p-3">
	<div class="row">
		<!--Start Left Section -->
		<div class="col-md-2">
			<!-- Left Section -->
			<h3 mb-3>Left Content</h3>
			<app-left-section></app-left-section>
		</div>
		<!--End Left Section -->
		<!--Start Center Section -->
		<div class="col-md-8">
		<!-- Add 10 cards in the center -->
			<h3>Center Content</h3>
			<app-center-section></app-center-section>
		<!-- Repeat for cards 2-10 -->
		</div>
		<!-- End Center Section -->
		<!-- Right Section -->
		<div class="col-md-2">
			<!--Start Right Section -->
			<h3>Right Content</h3>
			<app-right-section></app-right-section>
		</div>
		<!--End Right Section -->
	</div>
</div>