/* Adjust position of notification modal */
#notificationModal.modal[data-bs-placement="bottom"] .modal-dialog {
  transform: translate(0, 25%);
  margin: 0 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.notification-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30ch; /* Adjust the desired number of characters */
}

/* Default styling for larger screens */
.dropdown-menu {
  position: absolute;
  right: 0; /* Position it at the end for larger screens */
}

/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
  .dropdown-menu {
    position: absolute;
    left: 50%; /* Position it in the center for mobile screens */
    transform: translateX(-50%); /* Center horizontally */
  }
}


/* Add this CSS in your component's CSS file or in your global styles.css */

/* Normal state */
.reset-link {
  color: blue; /* Change the text color to blue */
  text-decoration: underline; /* Add an underline */
  cursor: pointer; /* Change the cursor to a pointer on hover */
  transition: color 0.2s; /* Add a smooth color transition effect */
}

/* Hover state */
.reset-link:hover {
  color: darkblue; /* Change the text color when hovering */
}

