/* Adjust position of notification modal */
#notificationModal.modal[data-bs-placement="bottom"] .modal-dialog {
  transform: translate(0, 25%);
  margin: 0 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.notification-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30ch; /* Adjust the desired number of characters */
}

