<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Project name on the left -->
    <a class="navbar-brand" href="#">{{ title }}</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNav"
    >
      <!-- Search bar centered on medium and larger screens -->
      <form class="form-inline mx-auto d-none d-md-flex">
        <div class="input-group">
          <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-light" type="submit">
              <i class="bi bi-search fs-5"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Navigation links with icons -->
      <!-- Navigation links with icons -->
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li
          class="nav-item"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          *ngIf="!isAuthenticated()"
        >
          <a class="nav-link" routerLink="/login">
            <i class="bi bi-lock fs-5"></i>
          </a>
        </li>

        <li
          class="nav-item"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          *ngIf="isAuthenticated()"
        >
          <a class="nav-link d-flex align-items-center" routerLink="/write">
            <i class="bi bi-pencil-square me-2"></i>
            Write
          </a>
        </li>

        <li
          class="nav-item"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          *ngIf="isAuthenticated()"
        >
          <a class="nav-link d-flex align-items-center" routerLink="/home">
            <i class="bi bi-house-door fs-5 me-2"></i>
          </a>
        </li>

        <!-- <li
          class="nav-item"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          *ngIf="isAuthenticated()"
        >
          <a class="nav-link" href="#">
            <i class="bi bi-journal-text fs-5"></i>
          </a>
        </li> -->

        <li
          class="nav-item dropdown"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          *ngIf="isAuthenticated()"
        >
          <a
            class="nav-link d-flex align-items-center dropdown-bs-toggle me-2"
            href="#"
            id="notificationDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bi bi-bell fs-5"></i>
            <span class="badge badge-danger">5</span>
          </a>
          <div class="dropdown-menu-end">
            <app-notification-panel></app-notification-panel>
          </div>
        </li>
        <li
          class="nav-item dropdown"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          *ngIf="isAuthenticated()"
        >
          <a
            class="nav-link dropdown-bs-toggle"
            href="#"
            id="profileDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bi bi-person fs-5"></i>
          </a>

          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="profileDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                (click)="performOperationsAndRedirect('view')"
                ><i class="bi bi-gear"></i> Settings</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                (click)="performOperationsAndRedirect('logout')"
                ><i class="bi bi-box-arrow-right"></i> Logout</a
              >
            </li>
            <div class="dropdown-divider"></div>
            <li>
              <a
                class="dropdown-item"
                (click)="performOperationsAndRedirect('about')"
                ><i class="bi bi-file-earmark-text"></i> Terms and Conditions</a
              >
            </li>
            <!-- Add your additional dropdown items here -->
            <li>
              <a
                class="dropdown-item"
                (click)="performOperationsAndRedirect('help')"
                ><i class="bi bi-question-circle"></i> Help</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <!-- Navigation links with icons -->

      <!-- Search bar centered on small screens -->
      <form class="form-inline mx-auto d-block d-md-none">
        <div class="input-group">
          <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-light" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
