<div class="container">
  <div class="row">
    <!-- Left Column (Gurukul Details) -->
    <div class="col-md-6">
      <div class="gurukul-details">
        <h2>About Gurukul</h2>
        <!-- Add Gurukul details content here -->
      </div>
    </div>

    <!-- Right Column (Registration Form) -->
    <div class="col-md-6">
      <div class="button-form">
        <h1>Welcome to Your App</h1>
        <button
          class="btn btn-primary"
          (click)="toggleRegistrationForm('/register')"
        >
          Register
        </button>
        <button
          class="btn btn-success"
          (click)="toggleRegistrationForm('/login')"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>
